extends ./index 

block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Universidad
            span.font-normal Curso 
        h2.text-center.text-2xl.font-extrabold= pagina

        if errores
            div(class="max-w-md mx-auto my-10")
                each error in errores
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-extrabold= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(action="#", method="GET")
                    label.block.text-sm.uppercase.text-gray-500.mb-3.font-extrabold(for="nombreCurso") Nombre del Curso: 
                    select#nombreCurso.w-full.px-3.py-2.border.border-gray-300.rounded-md(name="nombreCurso")
                        each curso in cursos
                            option(value=curso_id selected=curso_id)= curso.nombre

                    a(href= `/estudiantes/listarEstudiantes/${curso_id}`  class="text-gray-600 hover:text-gray-800") Cancelar